.movie-card {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 300px;
}

.movie-card.card {
  height: 450px;
}

.movie-cardH:hover {
  cursor: pointer;
  display: none;
}

.card-footer-badge {
  font-size: 1rem;
}

.card-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
